[Desktop Entry]
Encoding=UTF-8
Name=Link to Maverick - The Operating System
Type=Link
URL=http://www.maverick-os.dk/FileSystemFormats/FAT12_FileSystem.html#SectorsPerFAT
Icon=text-html
